<div id="modal999" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h2><b>Call 999 if:</b></h2>
    <ul class="browser-default flow-text">
      <li>Your baby/child won't wake up or, if woken up, they don't stay awake</li>
      <li>Your baby/child stops breathing</li>
      <li>Their breathing stops for a long time (more than 10 seconds at a time)</li>
      <li>They have regular shorter pauses in their breathing of 5-10 seconds</li>
      <li>Your child has severe breathing difficulties or exhaustion from trying to breathe you may see the muscles under their ribs sucking in with each breath, they may be grunting with the effort of trying to breathe, or they may be pale and sweaty</li>
      <li>They have a rapid breathing rate of more than 60 breaths per minute (under 1s)/more than 50 breaths per minute (1-2s)/more than 40 breaths per minute (3-5s)</li>
      <li>Their skin turns very pale or blue, or the inside of their lips and tongue are blue (cyanosis)</li>
      <li>If your baby/child is having a fit/seizure and it is the first time this has happened, or it lasts longer than five minutes.</li>
    </ul>
  </div>
  <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
