{% load staticfiles %}
<footer class="page-footer teal lighten-2">
    <!-- <div class="container"> -->
      <!-- insert logos -->
    <!-- </div> -->
    <div class="container white-text">
      <span></span>
      <div class="row center">
        <div class="col s12 m6 l6 xl4 ">
            <a href="http://asksniff.org.uk" target="_blank"><img src="{% static 'img/asksniff.png' %}" style="width:250px;height:60px"></a>
        </div>
        <div class="col s12 m6 l6 xl4">
            <a href="https://www.nhft.nhs.uk/" target="_blank"><img src="{% static 'img/nhft.png' %}" style="width:250px;height:60px"></a>
        </div>
        <div class="col s12 m6 l6 xl4">
            <a href="http://www.leicestershospitals.nhs.uk/" target="_blank"><img src="{% static 'img/uhl.png' %}" style="width:250px;height:60px"></a>
        </div>
        <div class="col s12 m6 l6 xl4">
            <a href="https://www.wellchild.org.uk/" target="_blank"><img src="{% static 'img/wellchild.png' %}" style="width:300px;height:100px"></a>
        </div>
        <div class="col s12 m6 l6 xl4">
            <a href="https://le.ac.uk/" target="_blank"><img src="{% static 'img/leics.png' %}" style="width:300px;height:100px"></a>
        </div>
        <div class="col s12 m6 l6 xl4">
            <a href="https://www.northampton.ac.uk/news/faculty-of-health-and-society/" target="_blank"><img src="{% static 'img/uon.png' %}" style="width:250px;height:150px"></a>
        </div>
      </div>
      <span class="right">© 2018 iPoorly Copyrights</span>
    </div>
</footer>